<!DOCTYPE html>
{% extends 'website/base.html' %}
{% load static %}
{% static "" as baseUrl %}
{% block content %}
  <!-- Full Page Image Header with Vertically Centered Content -->
<div id="home-page">
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center"></div>
        </div>
    </header>

  <!-- Page Content -->

  <!-- <section class="py-5"> -->
    <div class="container py-5">
        <h1 class="font-weight-light">Go Live It</h1>
        <p>
            Peak Outdoor Adventures is a family run business.  We're passionate
            about the outdoors and especially the Utah back country. Our goal is
            for you to have the best experience possible with affordable, quality
            equipment.  The only thing left to do in your adventure is to go live it!
        </p>
    </div>

    <!-- Page Content -->
    <div class="container">
        <h1 class="my-4 text-center">
            Bike Rentals
        </h1>
        <div id="rental-image" class="row"></div>
        <br>
    </div>

    <!-- bike list -->
    <div id="bike-list" class="container py-5">
        <div class="row">
            <!-- row -->
            <div class="col-lg-4 px-2 py-2">
                <h2 class="centered">Fat Tire</h2>
                <div class="bike-image"
                    style="background-image: url({% static 'website/img/biking/fat-tire.jpg' %})">
                </div>
                <h4 class="centered">$25 / 4 hrs</h4>
                <h4 class="centered">$35 / 8 hrs</h4>
                <h4 class="centered">$45 / 24 hrs</h4>
                <div class="bike-stats col-sm-6 py-2 centered">
                    <ul class="text-left">
                        <li>26"x4.6", Maxxis Tires</li>
                        <li>Rockshox Fork With Lockout</li>
                        <li>KS Dropper Post</li>
                        <li>SRAM NX 1x12 Drive Train</li>
                        <li>Shimano Deore Hydraulic Disk Brakes</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 px-2 py-2">
                <h2 class="centered">Full Suspension</h2>
                <div class="bike-image"
                    style="background-image: url({% static 'website/img/biking/full-suspension.jpg' %})">
                </div>
                <h4 class="centered">$35 / 4 hrs</h4>
                <h4 class="centered">$50 / 8 hrs</h4>
                <h4 class="centered">$60 / 24 hrs</h4>
                <div class="bike-stats col-sm-6 py-2 centered">
                    <ul class="text-left">
                        <li>27.5" or 29" Maxxis Tires</li>
                        <li>HAL (Highly Active Link Suspension) Rockshox w/Front and Rear Lockout</li>
                        <li>KS Dropper Post</li>
                        <li>SRAM 1x12 Drive Train</li>
                        <li>Shimano deore Hydraulic Disk Brakes</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 px-2 py-2">
                <h2 class="centered">Full Suspension E-Boost</h2>
                <div class="bike-image"
                    style="background-image: url({% static 'website/img/biking/ebike.jpg' %})">
                </div>
                <h4 class="centered">$45 / 4 hrs</h4>
                <h4 class="centered">$65 / 8 hrs</h4>
                <h4 class="centered">$85 / 24 hrs</h4>
                <div class="bike-stats col-sm-6 py-2 centered">
                    <ul class="text-left">
                        <li>27.5"x2.8", Maxxis Tires</li>
                        <li>HAL (Highly Active Link Suspension) Rockshox w/Front and Rear Lockout</li>
                        <li>KS Dropper Post</li>
                        <li>Shimano SLX 1x12 gears</li>
                        <li>Shimano Deore Hydraulic Disk Brakes</li>
                        <li>Shimano STEPS Mid Drive Motor</li>
                        <li>3 Levels of Electronic Assist</li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <div class="container px-5">
        <div class="row">
            <h2 class="text-left"><strong>Weekend special (or 2.5 days)</strong></h2>
        </div>
        <div class="row">
            <h4>10% off any 2-day rate</h4>
        </div>
        <div class="row">
            <p>
                Example: pick up on a Friday afternoon and return the following Monday morning,
                or (pick up any day) pick up on a Tuesday morning and return 2.5 days later
                for 10% less than the price of two days.
            </p>
            <p class="">
            <em>
                Eg. Full suspension rate for 2 days: $120 - 10% = $108
            </em>
            </p>
        </div>
        <div class="container py-5">
            <h4 class="text-center">
                Take a weekend trip to Moab or St. George or wherever you want to ride!!
            </h4>
        </div>
        <br>
        <div class="row">
            <h2><strong>MULTI-BIKE DISCOUNT</strong></h2>
        </div>
        <div class="row">
            <h4>10% off any 2nd bike, 15% off 3rd bike, 20% off 4th bike</h4>
        </div>
        <div class="row">

        </div>
    </div>

    <br><br>

    <div class="container px-5">
        <div class="row">
            <p>
                We require all bike rentals to be transported with a proper bike rack or
                tailgate pad where applicable.  We do not allow bikes to be transported in a trunk
                or laying in the back of a pickup.
                <!-- Two and Four-place racks are also available for rent for $15 per day. -->
            </p>
            <p>
                <h4><strong>E bikes must <u>not</u> be transported on a roof or trunk rack</strong></h4>
            </p>
        </div>

        <ul>
            <li>2 or 4 place hitch mount bike rack: $15 / day (free with two or more bikes)</li>
            <li>6 bike tailgate pad: $5/day (free with two or more bikes)</li>
            <li>All bike rentals include helmets, lock, and air pump</li>
            <li>
                Optional insurance: $10 per bike
                <ul>
                    <li>good for 2 days coverage per bike</li>
                    <li>covers up to $300 damage which occurred during riding</li>
                    <li><u>does not</u> cover theft, damage or loss while in your possesion</li>
                    <li><u>does not</u> cover damage while transporting</li>
                </ul>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <div class="container py-5">
        <div class="row">
            <h2 class="centered">
                Call/Text
            </h2>
        </div>

        <section id="contact">
            <div class="row">
                <div class="col text-right">
                    <h4>Utah County</h4>
                </div>
                <div class="col text-left">
                    <h4>801-854-8348</h4>
                </div>
            </div>

            <div class="row">
                <div class="col text-right">
                    <!-- <h4>Utah County</h4> -->
                </div>
                <div class="col text-left">
                    <h4>801-391-3013</h4>
                </div>
            </div>

        </section>
        <br>

        <section>
            <div class="row">
                <h2 class="centered">
                    Email
                </h2>
            </div>
            <div class="row">
                <div class="col centered">
                    peakoutdooradventures@gmail.com
                </div>
            </div>
        </section>

    </div>
    <div class="container">
        <div class="row py-5">
            <h3 class="centered">More Seasonal Equipment Available Soon</h3>
        </div>
    </div>
</div>
{% endblock %}
