<!DOCTYPE html>
{% extends 'website/base.html' %}
{% load static %}
{% static "" as baseUrl %}
{% block content %}
  <!-- Full Page Image Header with Vertically Centered Content -->
<div id="home-page">
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center"></div>
        </div>
    </header>

  <!-- Page Content -->

  <!-- <section class="py-5"> -->
    <div class="container py-5">
        <h1 class="font-weight-light">Go Live It</h1>
        <p>
            Peak Outdoor Adventures is a family run business.  We're passionate
            about the outdoors and especially the Utah back country. Our goal is
            for you to have the best experience possible with affordable, quality
            equipment.  The only thing left to do in your adventure is to go live it!
        </p>
    </div>

    <!-- Page Content -->
    <div class="container">
        <h1 class="my-4 text-center">
            Bike Rentals
        </h1>
        <div id="rental-image" class="row"></div>
        <br>
    </div>

    <!-- bike list -->
    <div id="bike-list" class="container py-5">
        <div class="row">
            <!-- row -->
            <div class="col-lg-4 px-2 py-2">
                <h2 class="centered">Fat Tire</h2>
                <div class="bike-image"
                    style="background-image: url({% static 'website/img/biking/fat-tire.jpg' %})">
                </div>
                <h4 class="centered">$25 - day</h4>
                <div class="bike-stats col-sm-6 py-2 centered">
                    <ul class="text-left">
                        <li>26"x4.6", Maxxis Tires</li>
                        <li>Rockshox Fork With Lockout</li>
                        <li>KS Dropper Post</li>
                        <li>SRAM NX 1x12 Drive Train</li>
                        <li>Shimano Deore Hydraulic Disk Brakes</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 px-2 py-2">
                <h2 class="centered">Full Suspension</h2>
                <div class="bike-image"
                    style="background-image: url({% static 'website/img/biking/full-suspension.jpg' %})">
                </div>
                <h4 class="centered">$35 - day</h4>
                <div class="bike-stats col-sm-6 py-2 centered">
                    <ul class="text-left">
                        <li>27.5" or 29" Maxxis Tires</li>
                        <li>HAL (Highly Active Link) Suspension Rockshox w/Front and Rear Lockout</li>
                        <li>KS Dropper Post</li>
                        <li>SRAM 1x12 Drive Train</li>
                        <li>Shimano deore Hydraulic Disk Brakes</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 px-2 py-2">
                <h2 class="centered">Full Suspension E-Boost</h2>
                <div class="bike-image"
                    style="background-image: url({% static 'website/img/biking/ebike.jpg' %})">
                </div>
                <h4 class="centered">$60 - day</h4>
                <div class="bike-stats col-sm-6 py-2 centered">
                    <ul class="text-left">
                        <li>27"x2.8", Maxxis Tires</li>
                        <li>HAL (Highly Active Link Suspension) Rockshox w/Front and Rear Lockout</li>
                        <li>KS Dropper Post</li>
                        <li>Shimano SLX 1x12 gears</li>
                        <li>Shimano Deore Hydraulic Disk Brakes</li>
                        <li>Shimano STEPS Mid Drive Motor</li>
                        <li>3 Levels of Electronic Assist</li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2 class="centered">
                Call/Text
            </h2>
        </div>
        <section id="contact">
            <div class="row">
                <div class="col text-right">
                    <h4>Utah County</h4>
                </div>
                <div class="col text-left">
                    <h4>801-391-3013</h4>
                </div>
            </div>

            <div class="row">
                <div class="col text-right">
                    <h4>Richfield</h4>
                </div>
                <div class="col text-left">
                    <h4>435-896-7259</h4>
                </div>
            </div>

        </section>

    </div>
    <div class="container">
        <div class="row py-5">
            <h3 class="centered">More Seasonal Equipment Available Soon</h3>
        </div>
    </div>
</div>
{% endblock %}
